<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
<title>Vertical Sankey</title>
<link rel="stylesheet" href="css/v_style.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/jquery-1.12.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">	

<h3 style="font-family: 'Open Sans', sans-serif; opacity:0.7"><b>Vertical Sankey with interactive elements </b></h3>	

<div class="btn-group" role="group" >
  <button type="button" class="btn btn-success" id="prime">Root</button>  

  <div class="btn-group" role="group" id="dropdown1">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
      Level1
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" id="Root1-LV1-No1" onclick=highlight("#Root1-LV1-No1")>LV1-No1</a></li>
      <li><a href="#" id="Root1-LV1-No2" onclick=highlight("#Root1-LV1-No2")>LV1-No2</a></li>
      <li><a href="#" id="Root1-LV1-No3" onclick=highlight("#Root1-LV1-No3")>LV1-No3</a></li>
      <li><a href="#" id="Root2-LV1-No1" onclick=highlight("#Root2-LV1-No1")>Root2-LV1-No1</a></li>
    </ul>
  </div>

    <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Level2
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" id="Root1-LV2-No1" onclick=highlight("#Root1-LV2-No1")>LV2-No1</a></li>
      <li><a href="#" id="Root1-LV2-No2" onclick=highlight("#Root1-LV2-No2")>LV2-No2</a></li>
      <li><a href="#" id="Root1-LV2-No3" onclick=highlight("#Root1-LV2-No3")>LV2-No3</a></li>
      <li><a href="#" id="Root1-LV2-No4" onclick=highlight("#Root1-LV2-No4")>LV2-No4</a></li>
      <li><a href="#" id="Root1-LV2-No5" onclick=highlight("#Root1-LV2-No5")>LV2-No5</a></li>
      <li><a href="#" id="Root1-LV2-No6" onclick=highlight("#Root1-LV2-No6")>LV2-No6</a></li>
      <li><a href="#" id="Root1-LV2-No7" onclick=highlight("#Root1-LV2-No7")>LV2-No7</a></li>
      <li><a href="#" id="Root1-LV2-No8" onclick=highlight("#Root1-LV2-No8")>LV2-No8</a></li>
      <li><a href="#" id="Root2-LV2-No1" onclick=highlight("#Root2-LV2-No1")>Root2-LV2-No1</a></li>
      <li><a href="#" id="Root1_Root2-LV2-No9" onclick=highlight("#Root1_Root2-LV2-No9")>Root1/Root2-LV2-No9</a></li>
      <li class="divider"></li>
      <li><a href="#" id="hideAll" onclick=hidesystem("#hideAll")><b>Hide All LV2s</b></a></li>
    </ul>
     
  </div>

 </div>
 <a href="#"><img id="info" src="https://4ynpia.dm2302.livefilestore.com/y2pEUQhyXQmvzMFKZox1gotmZBtowgkCvFOePLP1ElaNcRdwBuoCkdzjYVNIbDY6ylom3cGTOUBNU2fUH6znUSlbd1TAi5N98Hq1dRratqrkIAY5e1obvLEVvlWdrfrf1UFyB5jHJKKQi9XK8BPgW24GNBAvEtCC3C3uFl_FyY-Mp4/info.png?psid=1" class="img-rounded" alt="Cinque Terre" width="33" height="33" ></a>
 <ul id="infopanel" style=" font-family: 'Open Sans', sans-serif; display:none;"><b></br>
  <li>Drag and drop to relocate the position of nodes.</li>
  <li>Check "Hide All LV2s" button to only view roots and leve1 nodes.</li>
  <li>Hover over on the nodes to view detailed info, click whitespace to hide.</li>
  <li>Highlight the pathway by clicking links or checking the nodes names from dropdown buttons.</li>
 </b></ul>        
        
 
 <div class="col-md-12"> 
<p id="chart">


<script src="js/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="js/v_sankey.js"></script>
<script type="text/javascript" src="js/v_main.js"></script>
<script type="text/javascript" src="js/v_functions.js"></script>


</div>


</body>
</html>