<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Distribution of Scores by Categories</title>
</head>
<body>
<div class="container">
<div class="col-md-12">
<h3>&nbsp;Distribution of Scores by Categories:</h3>
<button class="btn btn-info btn-arrow-right" id="severity" value="data/scatter.csv,severity,baseScore,count_by_sev">Severity</button>
<button class="btn btn-info btn-arrow-right" id="month" value="data/scatter.csv,month_label,baseScore,count_by_month">Month</button>
<button class="btn btn-info btn-arrow-right" id="month" value="data/scatter.csv,cpe_label,baseScore,count_by_cpe">System</button>
<button class="btn btn-info btn-arrow-right" id="month" value="data/scatter.csv,vendor,baseScore,count_by_vendor">Vendor</button>
    <hr>
</div>
    
<div class="col-md-12">
<svg id="visualisation" width="800" height="700"></svg>
</div>
</div>   
</body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="js/d3.min.js"></script>
    <script src="/js/jquery-1.12.1.min.js"></script>
    <script src="js/angular.js"></script> 
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Scatter_main.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="css/Scatter_style.css" rel="stylesheet">
    <link href="css/Scatter_buttons.css" rel="stylesheet">  
    <script src="js/d3-tip.js"></script>
    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
</html>