<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sample CDM Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <script src="/js/jquery-1.12.1.min.js"></script>
    <script src="js/angular.js"></script> 
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/alasql.js"></script>
    <script src="js/underscore.js"></script> 
    <script src="js/bootstrap-datepicker.js"></script>   
    <script src="js/Dashboard_app.js"></script>
    <script src="js/Dashboard_controllers.js"></script>
        
    <!--script src="js/main.js"></script-->

    <link href="css/Dashboard_style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body ng-app="App">

<div class="container" ng-controller="sqlController">

   <div class="row">
      <div class="col-sm-12">
         <!--
            ****** NAVIGATION WIDGET *******
            -->
         <div id="nav-widget" class="btn-group btn-group-justified">
            <div class="btn-group" data-toggle="modal" data-target="#infoModal">
               <button type="button" class="btn text-uppercase"><i class="fa fa-th-large fa-2x" ></i><br/>Info<!--span class="badge">6</span--></button>
            </div>
                          
<!--
            <div class="btn-group">
               <button type="button" class="btn text-uppercase"><i class="fa fa-user fa-2x"></i><br/>Individual</button>
            </div>
-->
            <div class="btn-group">
               <button type="button" class="btn text-uppercase" ng-click="showDatepicker();"><i class="fa fa-calendar-o fa-2x"></i><br/>Date Filter</button>
            </div>
<!--
            <div class="btn-group">
               <button type="button" class="btn text-uppercase"><i class="fa fa-database fa-2x"></i><br/>Database</button>
            </div>
             <div class="btn-group">
               <button type="button" class="btn text-uppercase"><i class="fa fa-bar-chart fa-2x"></i><br/>Timeline</button>
            </div>
-->
             <div class="btn-group" id="search_icon">
               <button type="button" class="btn text-uppercase" ng-click="showSearchbox()"><i class="fa fa-search fa-2x"></i><br/>Search</button>
            </div>
         </div>
            

          <div id="datepicker" style="display:none;">
          <div class="input-daterange input-group" >
                <input type="text" class="input-sm form-control" name="start" ng-model="start"/>
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="end" ng-model="end"/>
              <span class="input-group-btn">
                  <button class="btn btn-success" type="button" ng-click="searchbox('%'+searchtext+'%',start,end)"><b>Search</b></button>
              </span>
                 <span class="input-group-btn">
                     <button class="btn btn-success" type="button" ng-click="reset()"><b>Reset</b></button>                
              </span>
              </div>
              <br/>
            </div>
                    <div id="search_box" style="display:none;">
            <div class="input-group" >
              <input type="text" class="form-control" placeholder="For example: 'apple'" ng-model="searchtext">
              <span class="input-group-btn">
                  <button class="btn btn-success" type="button" ng-click="searchbox('%'+searchtext+'%',start,end)"><b>Search</b></button>
              </span>
                 <span class="input-group-btn">
                     <button class="btn btn-success" type="button" ng-click="reset()"><b>Reset</b></button>
              </span>
            </div>
               <br/>
          </div>
      </div>
     
   </div>    
    
    <div class="modal fade" id="infoModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3 class="modal-title">Dynamic Dashboard Sample</h3>    
                        <h4><span class="label label-success" style="display:inline">Angular.js</span>
                        <span class="label label-success" style="display:inline">JQuery</span>
                        <span class="label label-success" style="display:inline">Bootstrap</span>
                        <span class="label label-success" style="display:inline">Bootsnipp</span></h4>
                    </div>
                    <div class="modal-body">

                            <h5><b>This app demonstrates a dynamic dashboard sample which can be used in multiple cases. For demo purpose, I use static json files as data source. Live data connection can be realized by using PHP. All charts in this demo are created by <a href="http://www.chartjs.org/" target="_blank">Chart.js</a>.<a href="http://underscorejs.org/" target="_blank">Underscore.js</a> is also used for some group calculations.</b></h5><br/>
                        <h5><b><ul>
                            <li>Hover over on numbers to view more info</li>
                            <li>Click the "Application", "Operation System" buttons to filter</li>
                            <li>Use Date Filter and search buttons to focus on more details</li>
                            </ul></b></h5>
                        <hr>
                        <div>
                        <center> <img src="https://drive.google.com/uc?id=0BxVGx4GU0k9vT1VRWEpSLTU1SWM" 
					     name="aboutme" width="100" height="100" border="0" class="img-circle">
                           
                     
                            <h4 ><b>&nbsp;&nbsp;&nbsp;&nbsp;Zhihao Howard Yao<br/><h5>Data Analyst & Visualization Specilist<br/><br/><a href="http://bl.ocks.org/zhihaohowardyao/raw/3e1e6329e18180d8c6fd/" target="_blank">More about me here</a></h5></b></h4>
                     </center>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
    </div> 
    
    <div class="row" >
     <p class="text-center" ng-hide="dataLoaded">
    <i class="fa fa-spinner fa-spin fa-5x" style="color:#55BC75;"></i>
    </p>
        <div class="col-md-3">
    <div class="panel" style="background-color:#55BC75; height:186px;">
    <div class="panel-heading">
        <h4><b style="color:white;">Grand Total<br/><br/><a href="#" data-toggle="tooltip" title="Total" style="color:white;">{{vul_total[0].vul_total | number }}&nbsp;&nbsp;</a><small><a href="#" data-toggle="tooltip" title="Monthly Change" style="color:white;">{{vul_change | number}}</a>&nbsp;<i class="fa fa-arrow-down" ng-show="vul_change < 0" style="color:coral"></i><i class="fa fa-arrow-up" ng-show="vul_change > 0"  style="color:Blue"></i></small></b></h4>
        <div id="vul-container">
          <canvas id="vulLineChart" width="120" height="80" class="pull-right"></canvas>
        </div>
      </div>
        </div>
    </div>
        <div class="col-md-3">
    <div class="panel" style="background-color:#55BC75; height:186px;">
    <div class="panel-heading">

              <h4><b style="color:white;">UniqueTotal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/><a href="#" data-toggle="tooltip" title="Total" style="color:white;">{{dev_total[0].dev_total | number}}&nbsp;&nbsp;</a><small><a href="#" data-toggle="tooltip" title="Monthly Change" style="color:white;">{{dev_change | number}}&nbsp;</a><i class="fa fa-arrow-down" ng-show="dev_change < 0" style="color:coral"></i><i class="fa fa-arrow-up" ng-show="dev_change > 0"  style="color:Blue"></i></small></b></h4>
              <div id="dev-container">
                <canvas id="devLineChart" width="120" height="80" class="pull-right"></canvas>
              </div>
    </div>
        </div>
    </div>


    <div class="col-md-6">
    <div class="panel" style="background-color:#55BC75;">
    <div class="list-block" data-toggle="tooltip" title="Click to filter">
                  <ul class="text-center legend" style="color:white;" >
                     <li class="appl" style="margin-right: 1px;" ng-repeat="appl in appls">
                        <h4 ng-click="update();toggle(appl.cpe_label)">{{appl.cpe_label}}</h4>
                        <h4 ng-click="update();toggle(appl.cpe_label)">{{appl.cpe_count}}</h4>
                     </li>
                  </ul>
               </div>
      </div>
      </div>


           <div class="col-md-3">
    <div class="panel" style="background-color:#55BC75;">
    <div class="panel-heading" style="text-align: center">
                <h4><b style="color:white;">Total Score<br/><br/><a href="#" data-toggle="tooltip" title="Total" style="color:white;">{{cvss[0].cvss | number}}</a>&nbsp;&nbsp;<small><a href="#" data-toggle="tooltip" title="Monthly Change" style="color:white;">{{cvss_change | number}}</a><i class="fa fa-arrow-down" ng-show="dev_change < 0" style="color:coral"></i><i class="fa fa-arrow-up" ng-show="dev_change > 0"  style="color:Blue"></i></small></b></h4>
            </div>
        </div>
    </div>
               <div class="col-md-3">
    <div class="panel" style="background-color:#55BC75;">
    <div class="panel-heading" style="text-align: center">
               <h4><b style="color:white;">Current Pace<br/><br/><a href="#" data-toggle="tooltip" title="How long can be expected to finish" style="color:white;">{{pace}} Months</a></b></h4>
            </div>
        </div>
    </div>
    </div>
   
   
   <div class="row" ng-controller="sqlController">
      <!-- COLUMN ONE -->
      <div class="col-sm-6 col-md-3">
         <!--
            ****** LINE CHART WIDGET *******
            -->    
         <div  class="panel">
            <div class="panel-heading">
               <center><h5 class="text-uppercase"><strong>Servers</strong></h5></center>
            </div>
            <div class="panel-footer" style="height:190px; overflow:auto;">
              <table class="table-condensed">
                <tr ng-repeat="host in hosts">
                  <td>{{host.Hostgroups}}</td>
                  <td>{{host.host_count}}</td>
                </tr>
              </table>
            </div>
         </div>
         <div class="row">

            <div class="col-xs-12">

               <div class="panel">
                  <div class="panel-heading text-center">
                      <h5 class="text-uppercase"><strong>Top Vendors</strong></h5>
                  </div>
                  <div class="panel-footer" id="topvendor">
                       <table class="table-condensed" >
                          <tr ng-repeat=" vendor in vendors">
                            <td class="small-col">{{vendor.vendor}}</td>
                            <td class="small-col text-right">{{vendor.count_vendor}}</td>
                            <td class="small-col text-right">{{vendor.count_vendor/data.length*100 | number:1}}%</td>
                          </tr>
                       </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      
      <!-- COLUMN TWO -->   
      <div class="col-sm-6 col-md-9">
         <!--
            ****** CHART WIDGET *******
            -->    
         <div id="pie-chart-widget" class="panel">
            <div class="panel-heading text-center">
               <h5 class="text-uppercase"><strong>Timeline by Priority</strong></h5>
            </div>
            <div class="panel-body" id="Severity-container">
               <canvas id="SeverityLineChart" height="400"></canvas>
            </div>
            <div class="panel-footer">
               <div class="list-block">
                  <ul class="text-center legend">
                     <li class="m" style="margin-right: 1px;">
                        Medium 
                        <h2>{{s_total_m.total}}</h2>
                     </li>
                     <li class="h">
                        High
                        <h2>{{s_total_h.total}}</h2>
                     </li>
                     <li class="c" style="margin-left: 1px;">
                        Critical
                        <h2>{{s_total_c.total}}</h2>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

      </div>
      
      
      <!-- COLUMN THREE -->
      <div class="col-sm-6 col-md-4 ">
         <!--
            ****** PROFILE WIDGET *******
            -->

   
      </div>
   </div>
</div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    $('.input-daterange').datepicker({
        format:'yyyy-mm-dd'
    });
    $(window).load(function(){
        $('#infoModal').modal('show');
    });
    //$('#example').DataTable();
    //$("body").tooltip({ selector: '[data-toggle=tooltip]' });
});

</script>
</body>
</html>