body
			{
				background-color: #ffffff;
				font-family: 'Open Sans', sans-serif;
				color: #7c7273;
				font-size: 12px;
                font-weight: bold;
			}
			
			ul
			{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			div
			{
				float: left;
				width: 200px;
 
			}
			.axis text
			{
				stroke: none;
        shape-rendering: crispEdges;
			}
			.axis .domain
			{
				opacity: 0;
			}
			.tick
			{
				stroke: #7c7273;
			}
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: darkgray; /* old IE */
    background-color: darkgray; /* Modern Browsers */
}
circle:hover { 
    border-color:black;
}