css.node rect {
  cursor: move;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
 
.link {
  fill: none;
  stroke: #404040;
  stroke-opacity: .4;
  
}
 
.link:hover {
  stroke: red;
  stroke-opacity: .7;
   
}
.node:hover {
  fill: red;
  stroke-opacity: .8;
  font-weight: bold;

}
.node rect:hover {
  fill: red;
  stroke-opacity: .8;
}
.node a:hover {
  fill: red;
  stroke-opacity: .8;
} 
div.tooltip{
position: absolute; 
  text-align: center; 
  width: 400px; 
  height: 120px;   
  padding: 2px; 
  font: 14px sans-serif;  
  background: blue;  
  border: 0px;          
  border-radius: 8px;
  color:white;
  box-shadow: -3px 3px 15px #888888;
  opacity:0;  
  font-weight: bold;
  top:680px;
  transition:all 0.9s;

}
div.tooltip.down{
  top:780px;
  transition:all 0.9s;
}
  .legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }

  #info, #infopanel{
    opacity: 0.6;
}